/* encoding setting */
@charset "UTF-8";

/* utility style setting */

/* 스크린 리더 적용 */
.sr-only {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* 한줄 말줄임 */
.sl-ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 두줄 말줄임 */
.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 두줄 보여주기 설정 */
    -webkit-box-orient: vertical;
    /* 실험적인 기능은 -webkit 이 붙는다. */
}

/* 컨테이너 스타일 */

.container-movie {
    width: 1006px;
    /*top 86px left right auto */
    margin: 86px auto;
    padding: 0 27px 29px;
    border: 2px solid #BDBDBD;
    border-radius: 15px;
    /*background-color: #E5E5E5;*/
}

/*container-movie의 자식 요소이므로 다음과 같이 선택 */
.container-movie .title-container {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    padding: 38px 0;
}

/* nav 스타일 */
.container-movie .nav-movie {
    text-align: center;

}

/* 가상 요소를 사용하여 상위 라인 */
.container-movie .nav-movie::before {
    display: block;
    content: '';
    width: 650px;
    height: 2px;
    background-color: #BDBDBD;
    margin: 0 auto;
}

.container-movie .list-movie-nav {
    display: inline-block;
    margin: 27px 0;
}

/* flex 대신에 float 를 활용하여, 적용 */
.container-movie .list-movie-nav li {
    float: left;
}

/* 간격을 조절하기 위한 스타일 +는 요소 옆에 있는 태그에만 적용이 되게 된다.*/
.container-movie .list-movie-nav li + li {
    margin-left: 60px;
}

/**/
.container-movie .list-movie-nav .link-nav {
    color: #828282;
}

.container-movie .list-movie-nav .active .link-nav {
    color: #000000;
    font-weight: bold;
}
